body {
	background: url("../images/bodybg.jpg");
	max-width: 750px;
	margin: 2px auto;
}
h1 {
	font-family: 'New Rocker', cursive;
	font-size: 75px;
	font-weight: 600;
	padding: 10px;
}
h2, h3 {
	font-family: 'Rock Salt', cursive;
	letter-spacing: 3px;
	line-height: 1.5;

}
h2 {
	color: #002699;
	font-size: 40px;
}
h3 {
	color: #00cc00;
}
#green{
	color: #00cc00;
}
#dir {
	color: #002db3;
}
#time {
	display: inline;
	font-family: 'Space Mono', monospace;
	min-height: 60px;
	min-width: 60px;
	background-color: #ffffcc;
	font-size: 30px;
	padding: 5px;
	color: #0000b3;
	border-radius: 25px;
	animation-name: timing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
#game {
	background-image: url("../images/gamebg.jpg");
	min-height: 300px;
	border-radius: 25px;
	padding-bottom: 20px;
}
img {
	border-radius: 25px;

}

footer {
	color: white;
}

@media only screen && (max-width: 450px){
	h1 {
		font-size: 50px;
		font-weight: 400;
	}
}
#correct {
	display: none;
	font-family: 'Mada', sans-serif;
	display: table;
	width: 525px;
	min-height: 60px;
	margin: 5px auto;
	background-color: #ffffcc;
	color: #002db3;
	font-size: 24px;
	line-height: 1.1;
	white-space: normal;
	padding: 10px;
	border-radius: 25px;
}
#question {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 600;
	display: table;
	width: 525px;
	min-height: 120px;
	margin: 10px auto;
	margin-bottom: 20px;
	background-color: #fff2e6;
	color: #002699;
	font-size: 30px;
	line-height: 1.2;
	white-space: normal;
	padding: 10px;
	border-radius: 25px;
}

.btn {
	font-family: 'Mada', sans-serif;
	display: table;
	width: 525px;
	min-height: 60px;
	margin: 5px auto;
	background-color: #ffffcc;
	color: #002db3;
	font-size: 20px;
	line-height: 1.1;
	white-space: normal;
	padding: 10px;
	border-radius: 25px;

}
#pict{
	font-family: 'Mada', sans-serif;
	display: none;
	width: 525px;
	min-height: 60px;
	margin: 5px auto;
	background-color: #ffffcc;
	color: #002db3;
	font-size: 20px;
	line-height: 1.1;
	white-space: normal;
	padding: 10px;
	border-radius: 25px;
}
.btn:focus {
	outline: none;
}
.btn:hover {
	background-color: #ffdd99;
	border-color: #cc8800;
}

#reset{
	display: none;
}
#ans1 {
	display: table;
}
#ans2 {
	display: table;
}
#ans3 {
	display: table;
}
#ans4 {
	display: table;
}
@keyframes timing {
	from {background-color: #ffff33;}
	to{background-color: #87592c;}}
}
